@font-face {
  font-family: "OpenSans";
  src:  url("../fonts/OpenSans-Regular.ttf") format("ttf"),
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src:  url("../fonts/OpenSans-Bold.ttf") format("ttf")
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 0;
  margin-bottom: 58px;
  padding-top: 28px;
  padding-bottom: 131px;

  color: #ffffff;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background-color: #000000;
  opacity: 0.6;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo {
  width: 179px;
}

.nav {
  display: flex;
  align-items: center;
}

.menu-burger {
  display: none;
}

.nav-list {
  display: flex;
  gap: 35px;
  list-style-type: none;
}

.nav-list-link {
  font-size: 13px;
  text-transform: uppercase;
  
}

.nav-list-link:hover {
  text-decoration: underline;
}

.header-title {
  max-width: 700px;
  margin: 0 auto;

  font-size: 45px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.popup-state {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.6);
  z-index: 3;
}

.popup-content {
  position: relative;
  background: #fff;
  width: 40vw;
  min-width: 300px;
  max-width: 360px;
  padding: 20px;
  font-size: 14px;
}

.popup-state:checked + .popup {
  display: flex;
}

.popup-close {
  position: absolute;
  top: -30px;
  right: -20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(255, 0, 0, 0);
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  border: none; 
  outline: none;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.question {
  display: block;
}

.choose-option {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  
  padding-left: 10px;
  padding-right: 25px;
  
  margin: 0;
  
  border: 0px solid #ddd;
  background-color: #f4f7f6;
  border-right: none;
  outline: none;
  
  color: #707171;
  font-size: 12px;
  
  background-image: url("../svg/form-arrows.svg");
	background-repeat: no-repeat;
	background-position: right 5px center;
  background-size: 10px;

  -webkit-appearance: none;
	-moz-appearance: none;
}

.preferences {
  margin-top: 5%;
}

.choose:nth-child(3) {
  margin-left: 15px;
}

.email-area {
  margin-top: 5%;
}

.radio-check {
  appearance: none;
}

.radio-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
  width: 19px;
  height: 19px;
  background-image: url("../svg/form-empty-circle.svg");
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}

.radio-check:checked ~ .radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

.text-area {
  resize: none;
  width: 95%;
  height: 130px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 19px;
  padding-top: 19px;
  color: #707171;
  font-size: 13px;
  font-family: OpenSans-Regular, sans-serif;
}

.trends-content {
  margin-bottom: 60px;
}

.trend-title, .header-popup {

  margin-bottom: 28px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.trend-title::after, .header-popup::after {
  content: "";
  display: block;
  width: 66px;
  margin: 9px auto 0;
  border-bottom: 3px solid #e1d9bd;
}

.trends-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;

}

.trend-article {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-grow: 1;
  width: calc(25% - 12px);
  min-height: 320px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background-color: #000000;
  opacity: 0.6;
}

.trend-img-1 {
  background-image: url("../images/trend1.jpg");
}
.trend-img-2 {
  background-image: url("../images/trend2.jpg");
}
.trend-img-3 {
  background-image: url("../images/trend3.jpg");
}
.trend-img-4 {
  background-image: url("../images/trend4.jpg");
}

.trend-content {
  width: calc(100% - 38px);
  margin: 0 20px 20px 20px;
  max-height: 290px;
  padding: 32px;
  border: 3px solid #b59f5b;
  box-sizing: border-box;
  overflow: hidden;
}

.trend-post-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}

.trend-post-title:hover {
  color: #b59f5b;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(77% - 110px);
  margin-right: 110px;
}

.post {
  display: flex;
  margin-bottom: 59px;
  align-items: start;
}


.post:last-child {
  margin-bottom: 0;
}

.post-img {
  width: calc(52% - 30px);
  margin-right: 30px;
}

.post-category-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 0 18px;
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
}

.tegs_item_link {
  font-weight: 700;
  color: #b59f5b;
}

.tegs_item_link:hover {
  text-decoration: underline;
}

.post-title {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.post-title:hover {
  color: #b59f5b;
}

.post-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0 13px;
  margin-bottom: 48px;
  font-size: 12px;
}

.post-date {
  color: #888888;
}

.post-autor-link {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.post-text {
  font-size: 15px;
  line-height: 1.46;
}

.sidebar {
  width: 300px;
}

.widget-posts {
  margin-bottom: 60px;
}

.widget-title {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.widget-title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 9px auto 0;
  border-bottom: 3px solid #e1d9bd;
}

.widget-post {
  display: flex;
  margin-bottom: 22px;
}

.widget-post-image {
  width: 70px;
  margin-right: 20px;
}

.widget-post-date {
  display: block;
  font-size: 12px;
  color: #888888;
}

.widget-post-title {
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
}

.widget-post-title:hover {
  color: #b59f5b;
}

.search {
  display: flex;
  width: 100%;
  margin-bottom: 56px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.search-group {
  width: 83%;
}

.input-field {
  box-sizing: border-box;
  padding: 19px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  background: #f4f7f6;
  border: none;
}

.input-field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -2px;
}

.button {
  box-sizing: border-box;
  height: 48px;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
}

.button:hover {
  background-color: #323232;
  cursor: pointer;
}

.search-button {
  width: 17%;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.subscribe {
  margin-bottom: 56px;
  
}

.theme-list {
  list-style-type: none;
}

.email-field {
  margin-bottom: 16px;
}

.subscribe_button, .popup-button {
  display: block;
  width: 100%;
}

.tags {
  margin-bottom: 56px;
}

.tags-list-item {
  display: inline-block;
  border: 3px solid #eeeeee;
  margin: 0 5px 6px 0;
}

.tags-list-item:hover {
  border: 3px solid #b59f5b;
}

.tags-list-link {
  display: block;
  padding: 3px 13px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.widget-list-item {
  border-bottom: 2px solid #eeeeee;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
}

.widget-list-item:first-child {
  padding: 0 0 10px 0;
}

.widget-list-link:hover {
  color: #b59f5b;
}

.text-degree{
  font-size: 12px;
  vertical-align: super;
  color: #b59f5b;
}

.shop-title {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.shop-title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 9px auto 0;
  border-bottom: 3px solid #e1d9bd;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
  width: 100%;
  margin-bottom: 64px;
}

.shop-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 124px) / 3);
}

.shop-item-img-wrp {
  position: relative;
  z-index: -1;
}

.shop-item-img {
  width: calc(100% - 48px);
  padding: 0 24px;
}

.shop-content {
  position: relative;
  flex-grow: 1;
  margin-top: -36px;
  padding: 53px 20px 27px 20px;
  z-index: 0;
  box-sizing: border-box;
  border: 3px solid #b59f5b;
}

.shop-item-title {
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.shop-item-text {
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 1.47;
}

.shop-content-link {
  color: #b59f5b;
}

.shop-content-link:hover {
  text-decoration: underline;
}

.shop-info {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.old-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: line-through;
}

.new-price {
  font-size: 20px;
  font-weight: 700;
}

.shop-button {
  width: 140px;
}

.social-network-list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  margin-bottom: 74px;
  padding-top: 31px;
  padding-bottom: 32px;
  background-color: #eeeeee;
}

.social-network-list-items {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.social-network-dribbble {
  background-image: url("../svg/001-dribbble.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-network-pinterest {
  background-image: url("../svg/002-pinterest.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-network-tumblr {
  background-image: url("../svg/003-tumblr.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.copyright {
  display: block;
  margin-bottom: 44px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #999999;
}