.header {
  height: 450px;
  display: block;
  flex-direction: row;
  background-image: url("../images/banner-bg.jpg");
  text-align: center;
}

.logo-img {
  width: 70%;
}

.navigation-bar {
  display: flex;
  padding-top: 3%;
}

.menu-logo {
  margin: auto;
}

.menu__button {
  display: none;
}

.nav {
  margin: auto;
  margin-left: 30%;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-list-link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.header-title {
  top: 2.6em;
}

.menu__button {
  width: 1em;
  height: 0.6em;  
  top:30%;
  right: 110%;

}

.menu__button:before, .menu__button:after {
  height: 15%;
}

.menu__button-label {
  height: 15%;
}

.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.trend-article {
  width: 24.8%;
}

.content {
  margin-bottom: 0%;
  margin-right: 15%;
}

.trends-content {
  margin-top: 6%;
} 

.post {
  margin-left: 0%;
  display: flex;
  width: 777px;
}

.post:nth-child(n + 2) {
  margin-top: 8%;
}

.post::after {
  display: none;
}

.post-tags-item {
  font-size: 13px;
}

.post-img {
  width: 380px;
  height: 294px;
}

.post-content {
  margin-top: 2%;
  width: 50%;
}

.post-title {
  font-size: 17px;
  margin-top: 1%;
}

.post-meta {
  margin-top: 6%;
  margin-bottom: 8%;
}

.post-article {
  margin-bottom: 3%;
}

.input-field, .input-email {
  width: 77%;
}

/* Уникальные стили */
.sidebar {
margin-left: 0%;
}

.widget {
margin-bottom: 18%;
width: 274px;
}

.input-field {
margin-top: 12%;
width: 68%;
}

.button-subscribe {
width: 88%;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.craft-item-card {
  margin-bottom: 7%;
  width: 360px;
  margin-left: 3%;
}

.craft-item-card:nth-child(2n) {
  margin-left: 3%;
}


.craft-img {
  width: 80%;
  height: 54%;
  margin-left: 3.3%;
}