.header {
  margin-bottom: 40px;
  padding-top: 32px;
  padding-bottom: 210px;
  background-image: url("../images/banner-mobile.jpg");
}

.container {
  max-width: 610px;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation-bar {
  position: relative;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  margin-top: 192px;
  width: 269px;
}

.header-title {
  font-size: 26px;
  line-height: 1.4;
}

.menu-burger {
  position: absolute;
  top: 0;
  right: 0;
}

.trends-content {
  margin-bottom: 44px;
}

.trend-title {
  margin-bottom: 24px;
  font-size: 16px;
}

.trends-gallery {
  gap: 2px;
}

.trend-article {
  width: 100%;
  min-height: 232px;
}

.trend-content {
  padding: 28px 15px;
}

.trend-post-title {
  font-size: 16px;
}

.inner {
  flex-direction: column;
  margin-bottom: 44px;
}

.content {
  width: 100%;
  margin-bottom: 44px;
}

.post {
  margin-bottom: 35px;
}

.post-content {
  width: 100%;
  margin-bottom: 22px;
}

.post-title {
  font-size: 16px;
  margin-bottom: 16px;
}

.post-meta {
  margin-bottom: 15px;
}

.post-text {
  font-size: 14px;
}

.sidebar {
  width: 100%;
}

.widget-title {
  font-size: 16px;
}

.search {
  margin-bottom: 44px;
}

.subscribe {
  margin-bottom: 40px;
}

.tags {
  margin-bottom: 40px;
}

.tags-list-link {
  padding: 3px 12px;
}

.shop-title {
  font-size: 16px;
}

.shop-container {
  gap: 24px;
}

.shop-item {
  width: 100%;
}

.popup-box {
  width: 330px;
}

.feedback {
  margin: 54px 30px;
}