.header {
    margin-bottom: 46px;
    padding-top: 42px;
    padding-bottom: 114px;
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .container {
    max-width: 1170px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .navigation-bar {
    margin-bottom: 80px;
  }

  .logo {
    width: 158px;
  }

  .header-title {
    font-size: 40px;
    line-height: 1.4;
  }

  .menu-burger {
    display: block;
    position: relative;
    width: 23px;
    height: 19px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .menu-burger::before,
  .menu-burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: #ffffff;
  }

  .menu-burger::before {
    top: 0;
  }

  .menu-burger::after {
    bottom: 0;
  }

  .mebu-burger-label {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }

  .nav-list {
    display: none;
  }

  .trend-title {
    margin-bottom: 19px;
    font-size: 18px;
  }

  .trends-content {
    margin-bottom: 46px;
  }

  .trend-article {
    width: calc(50% - 4px);
    min-height: 248px;
  }

  .trend-content {
    padding: 28px;
  }

  .trend-post-title {
    font-size: 17px;
  }

  .inner {
    margin-bottom: 50px;
  }

  .content {
    width: calc(100% - 25px - 272px);
    margin-right: 25px;
  }

  .post {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 41px;
  }

  .post:last-child {
    border: none;
  }

  .post-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .post-content {
    width: 100%;
    margin-bottom: 16px;
  }

  .post-title {
    font-size: 17px;
  }

  .post-meta {
    margin-bottom: 36px;
  }

  .sidebar {
    width: 272px;
  }

  .shop-title {
    font-size: 17px;
  }

  .shop-container {
    gap: 28px 22px;
    margin-bottom: 50px;
  }

  .shop-item {
    width: calc((100% - 22px) / 2);
  }

  .shop-item-title {
    font-size: 17px;
  }

  .social-network-list{
    margin-bottom: 50px;
  }

  .copyright {
    margin-bottom: 37px;
  }

  .popup-box {
    max-width: 380px;
  }

  .feedback {
    margin: 40px 25px;
  }